@using Valhaus.Models.Models
@model List<Product>

@section Styles
{
    <link rel="stylesheet" href="~/css/Category/category-management.css?v=1.0.1" />
}

@section Scripts
{
    <script src="/js/product/product.js?v=1.0.5"></script>
}

<!-- PAGE HEADER -->
<div class="header">
    <div class="header-content">

        <div class="header-actions-left"></div>

        <div class="header-text-center">
            <h1>VALHÄUS</h1>
            <div class="accent-line"><span></span></div>
            <div class="subtitle">PRODUCT MANAGEMENT</div>
        </div>

        <div class="header-actions-right">
            <a asp-controller="Product" asp-action="Upsert" class="btn-valhaus">
                <i class="bi bi-plus-circle-fill"></i>
                <span>Add Product</span>
            </a>
        </div>

    </div>
</div>

<!-- TABLE -->
<div class="table-container">
    <table id="tblData" class="mini-table" style="width:100%">
        <thead>
            <tr>
                <th class="category-name">Title</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Category</th>
                <th class="actions-column">Actions</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
